@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  cursor: default;
}

header,
footer {
  background: #0e4b86;
  color: white;
  flex: 1;
}

header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 1em;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  padding: 1rem 5.5rem;
  font-style: italic;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content h3 {
  font-size: 1.3rem;
  border: solid 1px rgba(93, 105, 175, 0.596);
  background-color: #0e4b86;
  color: white;
  padding: 0rem 5.5rem;
  text-transform: uppercase;
}

.content li {
  font-size: 1.3rem;
  list-style: none;
  background-color: white;
  color: #aca6a6;
  padding: 0.7rem 3rem;
  border-bottom: 1px solid #aca6a6;
  text-transform: uppercase;
}

.content li:last-child {
  border-bottom: none;
}

.content li:hover {
  color: #0e4b86;
  cursor: pointer;
}

footer {
  padding: 3rem 3rem 4rem 4rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

/* Properties for Amateur DIV */
.container {
  width: 60%;
  margin: 2rem auto; 
}
#amateurDiv{
  position: relative;
  object-fit: contain;
  max-width: 1178px;
}
.images{
  width:60%;
  height:60%;
}
.images.city{
  width: 80%;
}
.caption1{
  position: absolute;
  right: 100px;
  top: 50px;
  width: 400px;
  font-size: 0.8rem;
  color:rgba(0, 0, 0, 1)
}
.caption2{
  position: absolute;
  left: 436px;
  top: 250px;
  width: 200px;
  font-size: 0.8rem;
  color:rgba(0, 0, 0, 1)
}
h4 {
  font-size: 1.5rem;
  color: #0e4b86;
}
.images.nature{
  position:relative;
  left: 580px;
  bottom: 120px;
}
.images.warmUp{
  position: relative;
  bottom: 333px;
  left: 142px;
}
.images.track{
  position: absolute;
  bottom: -65px;
  right: -400px;
}
/*
#amateurDiv{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}


.gridItem1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gridItem2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gridItem3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gridItem4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
*/
.competitiont-text {
  font-size: 1.1rem;
  color: black;
  padding: 2rem 0;
  right: 50px;
}

.competition-p,
.amateur-p {
  margin-left: 15%;
  width: 35%;
  background-color: #e4e1e1;
  color: #124d99;
  margin-bottom: 1rem;
}

.amateur-p {
  margin-left: 45%;
}

.competition-p p,
.amateur-p p {
  font-style: italic;
  margin: auto;
  width: 55%;
  font-size: 1.2rem;
}

/*End of Amateur DIV*/

/* Burgerrrrr icon*/

.icon {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 22px;
  padding-top: 20px;
  color: white;
  font-size: 25px;
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all linear 0.5s;
}
.modal-content {
  background-color: #0e4b86;
  margin-top: 0;
  float: right;
  padding: 7px 10px;
  width: 9em;
  animation: 0.3s ease-in 0s 1 slideInFromAbove;
}
.modal-content a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  padding: 0.4px 4px;
  font-weight: 600;
}
.modal-content a:hover {
  font-style: italic;
}

/*END of burger btn*/

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
}

.navbar a {
  font-size: 1.3rem;
  background-color: #0e4b86;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar a:hover {
  font-style: italic;
}

.navbar a:first-child {
  width: 16.5%;
  padding-left: 5.5%;
}

.navbar a:last-child {
  width: 100%;
  padding: 0 0.8em;
}

.navbar a.active {
  color: #0e4b86;
  background: white;
}

/*End of navbar*/

/*Grid material for content*/

