@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  cursor: default;
}

header,
footer {
  flex:1;
  background: #0e4b86;
  color: white;
}

header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 7rem;
  line-height: 1em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  padding: 1rem 0 0 6rem;
  font-style: italic;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content h3 {
  font-size: 1.3rem;
  border: solid 1px rgba(93, 105, 175, 0.596);
  background-color: #0e4b86;
  color: white;
  padding: 0rem 7rem;
  text-transform: uppercase;
}

.content li {
  font-size: 1.3rem;
  list-style: none;
  background-color: white;
  color: #aca6a6;
  padding: 0.7rem 3rem;
  border-bottom: 1px solid #aca6a6;
  text-transform: uppercase;
}

.content li:last-child {
  border-bottom: none;
}

.content li:hover {
  color: #0e4b86;
  cursor: pointer;
}

footer {
  padding: 3rem 3rem 4rem 4rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.flexbox{ 
  width: 100vw;
  display: inline-flex;
  margin-top:1rem;
  margin-left:-50px;
}
.flexbox-sm{
  display: inline-flex;
  justify-content: flex-end;
  width: 100vw;
  object-fit: contain;
}
.block{
  display: block;
  width: 50vw;
  height: 40%;
  justify-content: space-around;
}
/* Properties for Competition & Amateur DIV */
.container {
  width: 60%;
  margin: 2rem auto; 
}
.container-lg{
  width: 100vw;
  display: inline-flex;
  margin: 1rem 0 0 -50px;
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  bottom: 370px;
  left: 200px;
}
#competitionDiv,
#amateurDiv{
  position: relative;
  object-fit: contain;
  max-width: 1178px;
}
.competition-img-1{
  display: flex;
  justify-content: flex-start;
  width: calc(50% - 50px);
}
.competition-img-2{
  display: flex;
  justify-content: flex-end;
  width: calc(50% - 170px);
}
.competition-img-3{
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: calc(50% + 100px);
  margin-left: 6rem;
}
.image-text{
  display: flex;
  align-items: baseline;
  justify-content:start;
  position: absolute;
  flex-direction: column;
  color: #fff;
}
.whiteBlock{
  display:flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  top: 63%;
  left: -24%;
  background: #fff;
  color: #0a0a0a;
  width: 500px;
}
.images{
  width:60%;
  height:60%;
}
.images-lg {
  width: 80%;
  height: 80%;
}
.images-lg2{
  width: 60vw;
  height: auto;
}
.images-xl {
  width: 70vw;
  height: auto;
}
.caption1{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 250px;
  font-size: 1rem;
  color:rgba(0, 0, 0, 1)
}
.caption-runner{
  justify-content: flex-end;
  margin-left: 3rem;
  width: calc(50% - 10px);
  font-size: 1rem;
  color:rgba(0, 0, 0, 1);
  min-width: 340px;
  text-transform:none;
}
.caption-runner h4{
  text-transform: uppercase;
}
.caption2{
  display: block;
  flex-direction: column;
  transform: translateX(-35%);
  justify-content: flex-start;
  margin: 0 2.5rem 0 1rem;
  padding: auto;
  font-size: 1rem;
  color:rgba(0, 0, 0, 1)
}
.caption3{
  margin: 0 3rem 0 3rem;
  width: 50%;
  min-width: 300px;
  font-size: 1rem;
  color:rgba(0, 0, 0, 1)
}
h4 {
  font-size: 1.5rem;
  color: #0e4b86;
}
.images.city{
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin: 0;
}
.images.nature{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -10vw;
  margin-top: 2rem;
}
.images.runner{
  width: calc(50% - 10px);
}
/* Edgar (myself) fix this by setting % and creating its own div*/
.images.warmUp{
  display: inline-flex;
  width: 50%;
  height: auto;
  margin: -15% 0 0 4rem;
}
/* +++++++++++ */
.images.track{
  display: flex;
  flex-direction: row;
  width: 55vw;
  height: auto;
}
.images.finish{
  display: inline-flex;
  width: 100vw;
  justify-content: space-around;
  height: auto;
}
.competitiont-text {
  font-size: 1.1rem;
  color: black;
  padding: 2rem 0;
  right: 50px;
}

.competition-p,
.amateur-p {
  margin-left: 15%;
  width: 35%;
  background-color: #e4e1e1;
  color: #124d99;
  margin-bottom: 1rem;
}

.amateur-p {
  margin-left: 45%;
}

.competition-p p,
.amateur-p p {
  font-style: italic;
  margin: auto;
  width: 55%;
  font-size: 1.2rem;
}
/*End of Amateur DIV*/

/* Burgerrrrr icon*/

.icon {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 22px;
  padding-top: 20px;
  color: white;
  font-size: 25px;
}


@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all linear 0.5s;
}
.modal-content {
  background-color: #0e4b86;
  margin-top: 0;
  float: right;
  padding: 7px 10px;
  width: 9em;
  animation: 0.3s ease-in 0s 1 slideInFromAbove;
}
.modal-content a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  padding: 0.4px 4px;
  font-weight: 600;
}
.modal-content a:hover {
  font-style: italic;
}

/*END of burger btn*/

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
}

.navbar a {
  font-size: 1.3rem;
  background-color: #0e4b86;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar a:hover {
  font-style: italic;
}

.navbar a:first-child {
  width: 16.5%;
  padding-left: 5.5%;
}

.navbar a:last-child {
  width: 100%;
  padding: 0 0.8em;
}

.navbar a.active {
  color: #0e4b86;
  background: white;
}

/*End of navbar*/