@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  cursor: default;
}

header,
footer {
  background: #0e4b86;
  color: white;
}

header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 1em;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  padding: 1rem 5.5rem;
  font-style: italic;
}

.content h3 {
  font-size: 1.3rem;
  background-color: #0e4b86;
  color: white;
  padding: 0rem 5.5rem;
}

.content li {
  font-size: 1.4rem;
  list-style: none;
  background-color: white;
  color: #aca6a6;
  padding: 0.7rem 3rem;
  border-bottom: 1px solid #aca6a6;
}

.content li:hover {
  color: #0e4b86;
  cursor: pointer;
}

footer {
  padding: 3rem 3rem 4rem 4rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.sprint-text,
.begna-text {
  font-size: 1.1rem;
  width: 35%;
  color: black;
  padding: 2rem 0;
}

.begna-text {
  padding: 3rem 0;
}

.begna-text2 {
  font-size: 1.1rem;
  width: 50%;
  color: black;
  padding: 2rem 0;
  margin: auto;
}

.sprint-img,
.begna-img {
  width: 58%;
}

.sprint-img img,
.begna-img img {
  width: 100%;
}

.sprint-p,
.begna-p {
  margin-left: 15%;
  width: 35%;
  background-color: #e4e1e1;
  color: #124d99;
  margin-bottom: 1rem;
}

.begna-p {
  margin-left: 45%;
}

.sprint-p p,
.begna-p p {
  font-style: italic;
  margin: auto;
  width: 55%;
  font-size: 1.2rem;
}

.sprint-p span,
.begna-p span {
  font-size: 3rem;
  color: white;
  padding: 1.3rem;
  padding-left: 2.5rem;
}
